{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_section-2">
			<!-- START section 2 (video or image 1) REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_16_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_16_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-46" data-title="Video" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/video_preview.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="14" data-no-retina>
							<rs-bgvideo 
								data-video="w:100%;h:100%;nse:false;l:true;ptimer:false;vfc:true;"
								data-mp4="//d231gbq39f0zq8.cloudfront.net/template-dumy.mp4"
							></rs-bgvideo>
<!--						--><rs-zone id="rrzt_46" class="rev_row_zone_top" style="z-index: 13;"><!--

								--><rs-row
									id="slider-16-slide-46-layer-0" 
									data-type="row"
									data-xy="xo:50px;yo:50px;"
									data-rsp_bd="off"
									data-margin="t:150,140,120,90;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:9000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-16-slide-46-layer-1" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-text="a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:9000;"
										style="z-index:2;width:100%;"
									><!--									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-16-slide-46-layer-11" 
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_1="e:power2.inOut;sp:500;"
								data-frame_999="o:0;e:power2.inOut;st:w;sp:500;sR:8500;"
								style="z-index:11;background-color:rgba(0,0,0,0.25);"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_16_1',rl:[1240,1024,778,480],el:[400,570,472,352],gw:[1240,1024,778,480],gh:[400,400,400,400],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider161"]!==undefined) {window.RS_MODULES.modules["revslider161"].once = false;window.revapi16 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi16;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider161"] = {init:function() {
			window.revapi16 = window.revapi16===undefined || window.revapi16===null || window.revapi16.length===0  ? document.getElementById("rev_slider_16_1") : window.revapi16;
			if(window.revapi16 === null || window.revapi16 === undefined || window.revapi16.length==0) { window.revapi16initTry = window.revapi16initTry ===undefined ? 0 : window.revapi16initTry+1; if (window.revapi16initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider161"].init()}); return;}
			window.revapi16 = revQuery(window.revapi16);
			if(window.revapi16.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_16_1"); return;}
			revapi16.revolutionInit({
					revapi:"revapi16",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:"1240,1024,778,480",
					gridheight:"400,400,400,400",
					lazyType:"all",
					spinner:"spinner7",
					perspective:600,
					perspectiveType:"local",
					keepBPHeight:true,
					imgCrossOrigin:"anonymous",
					editorheight:"400,570,472,352",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,30],
						type:"scroll",
						origo:"slidercenter",
						speed:0
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_section-2" ).after( "<div id='revslider_show_section-2'></div>" );
                            revQuery( "#revslider_drag_section-2" ).hide();
                            revQuery("#revslider_foot_section-2").appendTo("#revslider_show_section-2");
                            revQuery("#revslider_show_section-2 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>