{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_section-4">
			<!-- START section 4 (3 Button and Image) REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_18_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_18_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-48" data-title="HelloWorld" data-in="y:(100%);" data-out="y:(-100%);">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_233_gettingstarted.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="6" data-no-retina>
<!--
							--><a
								id="slider-18-slide-48-layer-0" 
								class="rs-layer"
								href="https://vietnam-nike.myshopify.com/collections" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:261px,215px,163px,100px;yo:24px,19px,14px,8px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:300px,247px,187px,115px;h:200px,165px,125px,77px;"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_231_tokio-japan-june-05-2022-shopify-web-page-displayed-modern-laptop-smartphone-notebook-red-background-shopify-logo-iphone_132310-8584.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-18-slide-48-layer-1" 
								class="rs-layer"
								href="https://vietnam-nike.myshopify.com/pages/contact" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:258px,213px,161px,99px;yo:465px,384px,291px,179px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:300px,247px,187px,115px;h:200px,165px,125px,77px;"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_205_fulfillment.jpg" data-no-retina> 
							</a><!--

							--><a
								id="slider-18-slide-48-layer-2" 
								class="rs-layer"
								href="https://vietnam-nike.myshopify.com/collections/all" target="_self"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:260px,214px,162px,99px;yo:245px,202px,153px,94px;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:300px,247px,187px,115px;h:200px,165px,125px,77px;"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_253_shopify-reviews-logo.jpg" data-no-retina> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_18_1',rl:[1240,1024,778,480],el:[700,768,960,720],gw:[1240,1024,778,480],gh:[700,700,700,700],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider181"]!==undefined) {window.RS_MODULES.modules["revslider181"].once = false;window.revapi18 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi18;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider181"] = {init:function() {
			window.revapi18 = window.revapi18===undefined || window.revapi18===null || window.revapi18.length===0  ? document.getElementById("rev_slider_18_1") : window.revapi18;
			if(window.revapi18 === null || window.revapi18 === undefined || window.revapi18.length==0) { window.revapi18initTry = window.revapi18initTry ===undefined ? 0 : window.revapi18initTry+1; if (window.revapi18initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider181"].init()}); return;}
			window.revapi18 = revQuery(window.revapi18);
			if(window.revapi18.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_18_1"); return;}
			revapi18.revolutionInit({
					revapi:"revapi18",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:"1240,1024,778,480",
					gridheight:"700,700,700,700",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"700,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
						type:"scroll",
						origo:"slidercenter"
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_section-4" ).after( "<div id='revslider_show_section-4'></div>" );
                            revQuery( "#revslider_drag_section-4" ).hide();
                            revQuery("#revslider_foot_section-4").appendTo("#revslider_show_section-4");
                            revQuery("#revslider_show_section-4 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>