{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-2">
			<!-- START HOWTOBUILD REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_8_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_8_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-23" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="off" data-no-retina>
<!--						--><rs-zone id="rrzt_23" class="rev_row_zone_top" style="z-index: 6;"><!--

								--><rs-row
									id="slider-8-slide-23-layer-0" 
									data-type="row"
									data-xy="x:50px;y:132px;"
									data-rsp_bd="off"
									data-padding="t:10;r:10;b:10;l:10;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:9000;"
									style="z-index:6;"
								><!--
									--><rs-column
										id="slider-8-slide-23-layer-2" 
										data-type="column"
										data-xy="x:50px;y:132px;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-padding="t:10;r:10;b:10;l:10;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:9000;"
										style="z-index:6;width:100%;"
									><!--
										--><rs-group
											id="slider-8-slide-23-layer-5" 
											data-type="group"
											data-rsp_ch="on"
											data-xy="x:c;xo:-150px;y:b;yo:1100px;"
											data-pos="a"
											data-text="w:normal;"
											data-dim="w:489;h:444;"
											data-frame_0="o:1;"
											data-frame_1="sp:1550;"
											data-frame_999="o:0;st:w;sR:7450;sA:9000;"
											style="z-index:7;"
										><!--
											--><rs-layer
												id="slider-8-slide-23-layer-6" 
												data-type="image"
												data-rsp_ch="on"
												data-xy=""
												data-pos="a"
												data-text="w:normal;"
												data-dim="w:832;h:832;"
												data-actions='o:click;a:playslider;'
												data-frame_1="st:570;sR:570;"
												data-frame_999="o:0;st:w;sR:8130;"
												style="z-index:6;"
											><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/Manifold-Trace-Imagery-9_92c368cb-dee6-428a-8eb2-7e593c76de9b.png" data-no-retina> 
											</rs-layer><!--
										--></rs-group><!--

										--><rs-layer
											id="slider-8-slide-23-layer-4" 
											data-type="image"
											data-rsp_ch="on"
											data-xy=""
											data-pos="r"
											data-text="w:normal;"
											data-dim="w:1240px;h:7187px;"
											data-frame_999="o:0;st:w;sR:8700;"
											style="z-index:6;"
										><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/Vertical_Story.png" data-no-retina> 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_8_1',rl:[1240,1024,778,480],el:[7227],gw:[1240],gh:[900],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider81"]!==undefined) {window.RS_MODULES.modules["revslider81"].once = false;window.revapi8 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi8;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider81"] = {init:function() {
			window.revapi8 = window.revapi8===undefined || window.revapi8===null || window.revapi8.length===0  ? document.getElementById("rev_slider_8_1") : window.revapi8;
			if(window.revapi8 === null || window.revapi8 === undefined || window.revapi8.length==0) { window.revapi8initTry = window.revapi8initTry ===undefined ? 0 : window.revapi8initTry+1; if (window.revapi8initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider81"].init()}); return;}
			window.revapi8 = revQuery(window.revapi8);
			if(window.revapi8.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_8_1"); return;}
			revapi8.revolutionInit({
					revapi:"revapi8",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:1240,
					gridheight:900,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"7227,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,30],
						type:"scroll",
						origo:"slidercenter",
						speed:0
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:0
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_slider-2" ).after( "<div id='revslider_show_slider-2'></div>" );
                            revQuery( "#revslider_drag_slider-2" ).hide();
                            revQuery("#revslider_foot_slider-2").appendTo("#revslider_show_slider-2");
                            revQuery("#revslider_show_slider-2 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>